# Add files here to ignore them from prettier formatting

/dist
/coverage
/.expo
/.expo-shared
node_modules/


# due to https://github.com/trivago/prettier-plugin-sort-imports/issues/15

src/Services/@ischooleg/sdk/tools/event.ts
src/Services/@ischooleg/sdk/onesignal/Provider.tsx
