{
  "singleQuote": true,
  "printWidth": 120,
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "importOrder": ["react", "^react(.*)$", "^[A-Z](.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
